<div class="login-container" [@dialogVisibility]="state" (@dialogVisibility.done)="onAnimationDone($event)">
  <form class="ui form" [formGroup]="resetPasswordForm" (submit)="onSubmit()" [ngClass]="{error: hasError}">
    <div class="field" [ngClass]="{error: !!formErrors.password}">
      <label>New Password</label>
      <app-password-field placeholder="password" formControlName="password"></app-password-field>
    </div>
    <div class="field" [ngClass]="{error: !!formErrors.code}">
      <label>Invite Code</label>
      <input formControlName="code" placeholder="Invite Code">
    </div>
    <div class="ui error message" *ngIf="hasError">
      <p *ngIf="!!formErrors.password">{{formErrors.password}}</p>
      <p *ngIf="!!formErrors.code">{{formErrors.code}}</p>
    </div>
    <button class="ui primary button" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    <button class="ui button" *ngIf="cancelable" (click)="cancel()">Cancel</button>
  </form>
  <div class="ui horizontal divider" *ngIf="!cancelable">
    Or
  </div>
  <div class="footer" *ngIf="!cancelable">
    <button class="ui button" (click)="onLogin()">Login</button>
  </div>
</div>
