<div class="ui message">
  User is an account for an email address. All emails stored in user's space.
</div>
<div class="user-list ui divided selection list">
  <div class="item" *ngFor="let user of userList" (click)="editUser(user)">
    <div class="right floated content">
      <a class="anchor-button" (click)="openHelp(user, $event)">
        <i class="help circle icon"></i>
      </a>
    </div>
    <div class="content">
      {{user.email}}
    </div>
  </div>
</div>
<div class="ui inverted dimmer" [ngClass]="{active: isLoading}">
  <div class="ui text loader">Loading</div>
</div>

<app-float-button (btnClick)="addUser()">
  <i class="plus icon"></i>
</app-float-button>
