<table class="ui very basic selectable table">
  <thead>
  <tr>
    <th>Source</th>
    <th>Destination</th>
    <th>Selector</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bcc of bccList"
      appConfirmDialog
      dialogTitle="Delete BCC"
      [dialogContent]="'Are you sure to delete BCC ' + bcc.source + ' to ' + bcc.destination + ' ? This cannot be undone.'"
      (onConfirm)="deleteBcc(bcc)">
    <td>{{bcc.source}}</td>
    <td>{{bcc.destination}}</td>
    <td>{{bcc.region}}</td>
  </tr>
  </tbody>
</table>

<div class="ui inverted dimmer" [ngClass]="{active: isLoading}">
  <div class="ui text loader">Loading</div>
</div>

<app-float-button (btnClick)="addBcc()">
  <i class="plus icon"></i>
</app-float-button>
