<table class="ui very basic selectable table">
  <thead>
  <tr>
    <th>Source</th>
    <th>Destination</th>
    <th>Selector</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transport of transportList"
      appConfirmDialog
      dialogTitle="Delete Transport"
      [dialogContent]="'Are you sure to delete Transport ' + transport.source + ' to ' + transport.destination + ' ?'"
      (onConfirm)="deleteTransport(transport)">
    <td>{{transport.source}}</td>
    <td>{{transport.destination}}</td>
    <td>{{transport.region}}</td>
  </tr>
  </tbody>
</table>

<app-float-button (btnClick)="addTransport()">
  <i class="plus icon"></i>
</app-float-button>

