<app-action-bar backRoute="/">
  <div class="action-title">Edit: {{domain?.name}}</div>
  <a class="right-control" (click)="openHelp()">
    <i class="help circle icon"></i>
  </a>
  <a class="right-control ui top right pointing dropdown" uiDropdown="click">
    <i class="ellipsis vertical icon"></i>
    <div class="menu">
      <div class="item"
           appConfirmDialog
           dialogTitle="Delete Domain"
           [dialogContent]="'Are you sure to delete this domain' + domain?.name + ' ? This cannot be undone.'"
           (onConfirm)="deleteDomain()">
        <i class="trash icon"></i>
        Delete Domain
      </div>
    </div>
  </a>
</app-action-bar>
<div class="ui container main-content" *ngIf="domain">
  <div class="ui secondary pointing menu">
    <a class="item" [ngClass]="{active: currentTabIndex === 0}" (click)="switchTab(0)">User</a>
    <a class="item" [ngClass]="{active: currentTabIndex === 1}" (click)="switchTab(1)">DKIM</a>
    <a class="item" [ngClass]="{active: currentTabIndex === 2}" (click)="switchTab(2)">BCC</a>
    <a class="item" [ngClass]="{active: currentTabIndex === 3}" (click)="switchTab(3)">Alias</a>
    <a class="item" [ngClass]="{active: currentTabIndex === 4}" (click)="switchTab(4)">Transport</a>
  </div>
  <div class="tab-content">
    <div class="ui segment">
      <app-user [domain]="domain" *ngIf="currentTabIndex === 0"></app-user>
      <app-dkim [domain_id]="domain.id" *ngIf="currentTabIndex === 1"></app-dkim>
      <app-bcc [domain]="domain" *ngIf="currentTabIndex === 2"></app-bcc>
      <app-alias [domain]="domain" *ngIf="currentTabIndex === 3"></app-alias>
      <app-transport [domain]="domain" *ngIf="currentTabIndex === 4"></app-transport>
    </div>
  </div>
</div>
