<table class="ui very basic selectable table">
  <thead>
  <tr>
    <th>Source</th>
    <th>Destination</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let alias of aliasList"
      appConfirmDialog
      dialogTitle="Delete Alias"
      [dialogContent]="'Are you sure to delete Alias ' + alias.source + ' to ' + alias.destination + ' ? This cannot be undone.'"
      (onConfirm)="deleteAlias(alias)">
    <td>{{alias.source}}</td>
    <td>{{alias.destination}}</td>
  </tr>
  </tbody>
</table>

<app-float-button (btnClick)="addAlias()">
  <i class="plus icon"></i>
</app-float-button>
